* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
}

body {
    background-color: #d7d1d1;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    padding: 2rem;
    background-color: #5e2129;
    color: white;
}

header nav ul {
    display: flex;
    list-style: none;
    font-weight: bold;
}

li {
    padding-left: 2rem;
    cursor: pointer;
}

header nav ul li a {
    color: white;
    font-weight: bold;
}

section {
    display: flex;
    padding: 5rem 0;
}

main section .text_about {
    padding: 0 2rem;
}

.loja_tenis {
    width: 350px;
    height: 350px;
}

h3 {
    padding-bottom: 1rem;
    border-bottom: 2px solid #5e2129;
}

main section .text_about p {
    padding-top: 3rem;
}

main #products {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main #products h3 {
    margin-bottom: 3rem;
}

.list_products {
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 0 auto;
}

article {
    width: 200px;

}

article img,
article p {
    padding: 1rem 0;
}

button {
    width: 100%;
    border: none;
    background-color: #5e2129;
    padding: 0.5rem;
    color: #fff;
    margin-top: 2rem;
}